<div class="container-fluid">
  <h2 id="create-heading">Create Post</h2>

  <form action="/posts" method="post" role="form">
    <input name="title" id="post-title" class="form-control" type="text" placeholder="Title..."/>
    <input name="author" id="post-author" class="form-control" type="text" placeholder="Author..."/>
    <textarea name="body" id="post-body" class="form-control" placeholder="Body..."></textarea>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>