<h3>Depot Books Order Shipped</h3>
<p>
  This is a follow-up email to let you know that we've shipped your recent order:
</p>

<table>
  <tr>
    <th colspan="2">Qty</th>
    <th>Description</th>
  </tr>
  <%= render @order.line_items -%>
</table>
